.root {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: end;

  padding: 16px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex-grow: 1;
  padding: 8px 0 32px 0;
}
